<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>XML Upload</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/button.js}"></script>
</head>
<body>
<div class="container" role="main">
    <form class="dnd_box" method="post" action="/upload" enctype="multipart/form-data" novalidate>
        <div class="dnd_input">
            <img class="dnd_icon" src="../static/img/svg/upload-database.svg" th:src="@{/img/svg/upload-database.svg}">
            <input class="dnd_file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected"
                   multiple/>
            <label for="file"><strong>Choose a file</strong><span class="drag_and_drop"> or drag it here</span>.</label>
            <button class="dnd_button" type="submit">Upload File</button>
        </div>
        <div class="dnd_uploading">Uploading...</div>
        <div class="dnd_success">
            <b>Done! </b><br>
            <a href="/" class="dnd_restart" role="button">Upload more?</a>
        </div>
        <div class="dnd_error">
            <b>Error! </b><br>
            <span class="err1"></span>.<br>
            <span class="err2"></span><br>
            <a href="/" class="dnd_restart" role="button">Try again!</a>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>